/* ========================
   COLORS
======================== */

$color-border: #000;
$color-seconds: #2c8000;
$color-minutes: #0700ff;
$color-center: #f6a603;

/* ========================
   SIZES
======================== */

$watch-size: 80vmin;
$border-size: 1vmin;
$seconds-length: 38vmin;
$seconds-width: 1.5vmin;
$minutes-length: 20vmin;
$minutes-width: 3vmin;
$center-size: 5vmin;

/* ========================
   DURATIONS
======================== */

$seconds-duration: 60s;
$minutes-duration: 3600s;
$seconds-duration-fast: 10s;
$minutes-duration-fast: 600s;
